#color-bg {
    background-image: linear-gradient(#d3d0ebbd, #BAB5DB);
    min-height: 100vh;
}

.bgbc{          
    font-family: 'Merriweather', serif;
    backdrop-filter: blur (50px);
    -webkit-backdrop-filter: blur(50px);
    background: rgba(242, 234, 243, 0.322);
}

.border{
    border-radius: 10px;
}

.font{
    color: black;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.cancelar{
    background-color: #d66da0;;
    color: white;
}

.enviar{
    background-color: #98c589;
    color:white
}


