#img-bg {
  background-image: linear-gradient(#d3d0ebbd, #BAB5DB);
    min-height: 100vh;
  }
  
  .bg {
    background-color: rgba(242, 234, 243, 0.322);
    border-radius: 16px;
    padding: 3rem;
  }
  
  .mt {
    margin-top: 2rem;
  }
  
  .font{
    font-family: 'Merriweather', serif;
    font-weight: 400;}

    .borda{
      border-radius: 18px;
    }

    .enviar {
      background-color: #98c589;
      color: white;
      width: 100px;
  }
  
  .cancelar {
      background-color: #d66da0;
      color: white;
      width: 100px;
  }