body {
    overflow: hidden;
}

#img-bg {
    background-image: url(https://i.ibb.co/L8bJscb/Whats-App-Image-2022-04-13-at-21-32-19.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;

}

h3 {
    font-family: 'Allura', cursive;
    margin: 0;
    font-size: 60px;
}

.borda {
    border: none;
}

.tam {
    height: 77vh;
}

.bg {
    background-color: var(--color-primary);
}

.bg-nav {
    background-color: #C6C2E4;
}

.text-nav {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.perfil {
    border-radius: 50%;
    width: 12vw;
}

.sobre {
    margin-top: 10px;
    font-size: 40px;
    color: black;
    background-color: var(--color-purple);
    font-family: 'Merriweather', serif;
    font-weight: 700;
    padding: 10px;
}

.bg-form {
    background-color: var(--color-green);
    border-radius: 16px;
}

.entrar {
    background-color: #e2a3c1;
    width: 130px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    border-radius: 10px;
}

.cadastrar {
    width: 130px;
    border: 1px solid #ec68a8;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    border-radius: 10px;

}

.font {
    font-family: 'Merriweather', serif;
    padding: 15px;
}

.fontb {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

.enviarc {
    background-color: #a037a065;
    width: 130px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

.entrarform {
    color: rgb(255, 255, 255);
    font-family: 'Merriweather', serif;
    background: #bab5dbcb;
    backdrop-filter: blur (10px);
    -webkit-backdrop-filter: blur(10px);
}

.enviar {
    color: black;
    width: 130px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    border: 1px solid #ec68a8;
    background-color: #e2a3c1;
}

.cadastrese {
    color: black;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.font {
    color: black;
    font-family: 'Merriweather', serif;
    width: 700;
}

.borda {
    border-radius: 10px;
}

.teste {
    height: 77vh;
}

.icones {
    width: 50px;
}

.fa-github-square:hover {
    color: #596275;
}

.fa-linkedin-square:hover {
    color: #0e76a8
}

.bg-color {
    background-color: var(--color-purple);
}

ul.social-media {
    list-style: none;
    padding: 0%;
}

ul.social-media li {
    display: inline;
    margin: 0%;
    padding: 5px;

}

.fa {
    font-size: 35pt;
    color: rgb(49, 49, 49);
    padding: 10px;
}

.fa-github-square:hover {
    color: #596275
}

.fa-instagram:hover {
    color: #C13584
}

.fa-linkedin-square:hover {
    color: #0e76a8
}
.sizeImg{
    width: 150px;
}

.size-names{
    font-size: 40px;
    font-weight: bold;
}
.font {
    font-family: 'Merriweather', serif;}

    .navdois{
        background-color: var(--color-purple);
    }

    .ftext{
        margin-left: 50px;
    }

    